node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/
*.hprof
.env
.env.local
*.tsbuildinfo
*.log
.expo-shared/
coverage/
.husky/
khaznati-release/
*.zip
